body{
  font-family: 'Open Sans', sans-serif;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

#results{
  text-align: center;
}

img{
  max-width: 25%;
  height: auto;
}
